/* Контейнер-обертка */
.container {
    max-width: 1440px;
    margin: 0 auto;
}

.button {
    font-size: 14px;
    font-weight: 400;
    color: #FFFFFF;
    background-color: transparent;
    background-size: 100% 100%;
    border: 0;
    border-radius: 8px;
    padding: 12px 18px;
    background-image: url("../images/pink_background.png");
    cursor: pointer;
    transition: background-image 0.2s ease;
}

.button:hover {
   
    color: #FFFFFF;
 
    background-image: url("../images/red_background.png");
    cursor: pointer;
}

.button--link {
    width: fit-content;
    margin: 0 auto;

    text-decoration: underline;
    text-decoration-style: dashed;
    text-underline-offset: 8px;
    color: #FDA3C4;
    border: none;
    background-color: transparent;
    background-image: none;
    transition: text-decoration-color 0.3s;
}

.button--link:hover,
.button--link:focus {
    color: #FDA3C4;
    background-color: #ffffff;
    background-image: none;
    text-decoration-color: transparent;
}